@import "../constants";

$headline-height: 200px;

#breeds-page {
  .headline {
    display: flex;
    align-items: center;
    gap: 15px;
    min-height: $headline-height;
    padding: 15px;
    background-color: #5888e6;

    img {
      height: $headline-height;
      width: 50vw;
      object-fit: contain;
    }

    div {
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      .meow-fact {
        text-decoration: underline;
        font-weight: 900;
        font-size: 1.2rem;
      }

      p {
        font-size: 0.9rem;
        text-align: center;
      }
    }
  }

  .loading-indicator {
    margin: 100px auto;
  }

  .divider {
    @include divider;
  }
}
