@import "../constants";

header {
  position: fixed;
  inset: 0;
  height: $navbar-height;
  z-index: 10;
  background-color: $background-color;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);

  nav {
    padding: 0 $padding-inline;
    height: $navbar-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width;
    margin: 0 auto;

    h2 {
      margin: 0;
    }

    a {
      color: $basic-text-color;
    }

    .icon {
      color: $basic-text-color;
    }

    .icon:hover {
      cursor: pointer;
    }

    .navbar-title {
      color: #d3d3d3;
      font-size: 1.4rem;
    }
  }
}
