@import url('http://fonts.cdnfonts.com/css/gill-sans');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Gill Sans', sans-serif;
$background-color: #4369b2;
$padding-inline-mobile: 15px;
$basic-text-color: white;
